<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
      <div v-if="showBooks">
        <p>{{ title }} - {{ author }} - {{ age }}</p>
      </div>

      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <!-- <span v-if="!showBooks">Show Books</span> -->
        <span v-else>Show Books</span>
      </button>

      <div v-show="showBooks">Currenly showing books</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
